/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
  background-color: beige
}

/* WRITE YOUR CODE BELOW HERE */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap');

section{
  background-color: rgb(211, 234, 234);
}

aside{
  background-color: rgb(211, 234, 234);
}
body{
  font-family: 'DM Sans', sans-serif;
  font-size: 10px;
  line-height: 1.6;
  color: black;
  background-color: rgb(211, 234, 234);
}

p {
  font-size: 1.6rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.05rem;
}

section p:first-of-type{
  text-indent: 1.25rem;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  text-shadow: rgb(115, 171, 184) 2px 0 10px;
  text-decoration: underline;
  letter-spacing: 0.05rem;
  color: black;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.8rem;
  text-shadow: rgba(164, 100, 100, 0.601) 2px 0 10px;
  text-decoration-line: underline;
  letter-spacing: 0.03rem;
  color: black;
}

/* Nav Bar*/
nav li{
  background-color: antiquewhite;
  border: 1px soild coral;
  padding: 0.5rem 1rem;
  margin-bottom: 0.30rem;
  text-align: center;
  list-style-type: none;
}
nav li:hover{
  background-color: white;
}
nav{
  background-color: rgb(211, 234, 234);
}

/* Links */
a {
  color: #A66;
  text-decoration: underline, dotted;
}

a:visited {
  color: #a581818f;
}

a:hover, a:focus {
  text-decoration:none;
  color: rgb(237, 194, 194);
  outline: none;
}

a:active {
  color: rgb(225, 51, 51);
  font-weight: bold;
  text-decoration: wavy;
}

a[href^="http"]::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('external-link-52.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.3rem;
  vertical-align: middle;
}

/* Lists */

/* Making sure the list have the same line height as the paragraphs */
ul, ol {
  line-height: 1.6;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  padding-left: 2rem;
  font-size: 1.5rem;
}

li {
  margin-bottom: 0.8rem;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
}